@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 320px;
  min-height: 100vh;
  background-color: #d7ccc8;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  --fc-button-bg-color: #ef5350;
  --fc-button-border-color: #ef5350;
  --fc-button-hover-bg-color: #424242;
  --fc-button-hover-border-color: #424242;
  --fc-button-active-bg-color: #424242;
  --fc-button-active-border-color: #424242;
  --fc-today-bg-color: rgba(239, 83, 80, 0.15);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.ellipse {
  position: absolute;
}
.ellipse_1a {
  top: -9vw;
  left: -3vw;
  width: 20vw;
}
.ellipse_1b {
  right: -15vw;
  top: -4vw;
  width: 31vw;
}
.ellipse_1c {
  bottom: -4vw;
  width: 30vw;
  left: -13vw;
}
.ellipse_2a {
  top: -2vw;
  width: 14vw;
  left: 10vw;
}
.ellipse_2b {
  right: 9vw;
  top: 0vw;
  width: 10vw;
}
.ellipse_3a {
  top: 8vw;
  width: 11vw;
  left: 8vw;
}
.ellipse_3b {
  right: -5vw;
  top: 12vw;
  width: 20vw;
}
.ellipse_3c {
  bottom: -6vw;
  width: 23vw;
  left: 6vw;
}
